body {
  background-color: rgb(233, 236, 239);
}

.fixed-width-900 {
  width: 900px;
}

.fixed-width-700 {
  width: 700px;
}

.fixed-width-100 {
  width: 100px;
}

@keyframes slideInLeft {
  from {
    transform: translateX(100vw);
    width: 100%;
  }

  to {
    transform: translateX(0);
    width: 100%;
  }
}

.slideInLeft {
  animation-duration: 0.55s;
  animation-name: slideInLeft;
}

@keyframes slideInRight {
  from {
    transform: translateX(-100vw);
    width: 100%;
  }

  to {
    transform: translateX(0);
    width: 100%;
  }
}

.slideInRight {
  animation-duration: 0.55s;
  animation-name: slideInRight;
}
/*
@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    width: 100%;
  }

  to {
    transform: translateX(-100vw);
    width: 100%;
  }
}

.slideOutLeft {
  animation-duration: 0.55s;
  animation-name: slideOutLeft;
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    width: 100%;
  }

  to {
    transform: translateX(100vw);
    width: 100%;
  }
}

.slideOutRight {
  animation-duration: 0.55s;
  animation-name: slideOutRight;
}

@keyframes slideUp {
  from {
    transform: translateY(120px);
    /* width: 100%; */
  /* }

  to {
    transform: translateY(0);
    /* width: 100%; */
  /* } */
/* } */

/* .slideUp { */
  /* animation-duration: 0.55s; */
  /* animation-name: slideUp; */
/* }   */

.slide {
  transition: transform 1s;
}

.slideOutLeft {
  transform: translateX(-100vw);
}

.slideOutRight {
  transform: translateX(100vw);
}

/* .slideInLeft {
  transform: translateX(100vw);
}

.slideInRight {
  transform: translateX(100vw);
} */

.overflow-hidden {
  overflow: hidden;
}

.rotate{
  transition: all 0.2s linear;
}

.rotate.down{
  transform:rotate(90deg);
}

.wrap {	
  overflow: hidden; 
}

.inner {	                   
  margin-top: -100%;
  transition: margin-top 0.5s ease;
}

.inner.open { 
  margin-top: 0px;
}
